@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-template {
        grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
    }
}

* {
    @apply m-0 p-0 font-sans box-border;
}

.a {
    @apply flex items-center mr-[1rem];
}

#navbar {
    @apply flex flex-col bg-[#0C304B];
}

#navbar__menu {
    @apply flex items-center;
}

.navbar__search__div {
    @apply flex items-center justify-center;
}

#navbar__search {
    @apply flex w-[46.9375rem] border-transparent p-[0.75rem_1.5rem] items-start;
}

.navbar__search__icon__div {
    @apply inline-flex p-[0.72rem_1.5rem] items-start gap-[0.5rem] border-transparent bg-white;
}

#navbar__search__icon {
    @apply fill-white inline-flex items-start gap-[0.5rem];
}

.navbar__menu__div {
    @apply flex ml-[3rem] items-center flex-col;
}

.navbar__menu__title {
    @apply text-center text-white text-[0.75rem] font-medium leading-[1rem] w-[4.75rem] h-[2rem] mt-[0.25rem];
}
.card__section__card{
    position: relative;
}

.navbar__lower {
    @apply flex justify-between p-[1.25rem_6rem] h-[4rem] bg-[#082032];
}

.two__item {
    @apply flex flex-col w-[13.75rem] p-[1.25rem_1.5rem_2.125rem_1.5rem] justify-center items-center border border-gray-300 bg-white;
}

.category {
    @apply w-[8.125rem] h-[8.125rem] flex-shrink-0;
}

.two__item__title {
    @apply text-center text-gray-800 mt-[1rem] text-[0.875rem] font-normal leading-[1.25rem];
}

#two {
    @apply grid grid-template gap-[2.5rem] mt-[1.5rem];
}

#main__section {
    @apply p-[1.25rem_6rem];
}

#footer {
    @apply flex flex-wrap flex-col h-[22.5rem] flex-shrink-0 bg-gray-100;
}

.footer__upper {
    @apply flex mt-[4rem] justify-around;
}

.footer__upper__title {
    @apply text-gray-700 text-[0.875rem] font-semibold leading-[1.25rem];
}

.footer__list__item {
    @apply text-gray-600 text-[0.875rem] font-normal leading-[1.25rem];
}

.footer__list {
    @apply mt-[1rem];
}

.navbar__list__contact {
    @apply flex ml-[2rem];
}

.footer__list__contact {
    @apply flex;
}

.footer__list__number {
    @apply text-gray-600 text-[0.875rem] font-semibold leading-[1.25rem];
}

ul > li {
    @apply list-none;
}

.footer__socials {
    @apply flex mt-[1rem] gap-[1rem];
}

.footer__copyright {
    @apply relative top-[0.5rem] text-gray-500 text-center p-[2rem] text-[0.75rem] font-normal leading-[1rem];
}

hr {
    @apply m-auto w-[90%] h-[0.0625rem];
    background: #e4e4e7;
    border-width:1px;
    border-style: inset;
}

.footer__subscribe {
    @apply inline-flex p-[0.75rem_1.25rem] justify-center items-center bg-[#196195] text-white mt-[1.62rem] text-[0.875rem] font-semibold leading-[1.25rem];
}

#navbar__upper {
    @apply flex flex-wrap p-[1.25rem_6rem] justify-between items-center;
}

.navbar__lower__p {
    font-family: Inter;
    @apply text-white text-[1rem] font-normal leading-[1.5rem] ml-[0.5rem];
}

.navbar__lower__one, .navbar__lower__two {
    @apply flex;
}

.footer__input {
    @apply flex w-[20.5625rem] h-[2.75rem] p-[0.75rem_11.1875rem_0.75rem_1rem] items-center flex-shrink-0 border border-blue-300 bg-white;
}

#one {
    @apply flex justify-between items-center;
}

.one__view__div {
    @apply flex items-center;
}

.one__title {
    @apply text-gray-800 text-[1.25rem] font-semibold leading-[1.75rem];
}
#hamburger{
    display: none;
}

.one__view {
    font-family: Inter;
    font-size:large;
    font-style: normal;
    @apply text-[#196195] font-bold mr-[0.5rem] leading-[1.25rem];
}

.main__one {
    @apply flex justify-between p-[0.875rem_6rem];
}

.main__item__img, .main__item__heading, .main__item__p, .main__item__arrow, .main__item__view {
    @apply relative top-[-8.25rem] ml-[1rem] text-white;
}

.main__item__heading {
    @apply text-[1.25rem] font-bold leading-[1.75rem];
}

.main__item__p, .main__item__arrow, .main__item__view {
    @apply text-[0.875rem] font-normal leading-[1.25rem];
}

.card__section {
    @apply relative p-[0.875rem_6rem] flex justify-between;
}

.image {
    @apply w-[31rem] h-[15.5625rem];
}

.heading {
    font-family: Inter;
    @apply absolute top-[8.25rem] text-white text-[1.25rem] font-bold leading-[1.75rem] pl-[1rem];
}

.text {
    font-family: Inter;
    @apply absolute top-[10.25rem] text-white w-[60%] text-[0.875rem] font-normal leading-[1.25rem] pl-[1rem];
}

.btn {
    @apply flex absolute bottom-[1rem] pl-[1rem] text-white text-[0.75rem] font-semibold leading-[1rem];
}


@media screen and (max-width:600px) {
    #navbar__upper {
        @apply p-[1.25rem];
    }

    #footer {
        @apply block h-[22.5rem];
    }

    .footer__upper {
        @apply p-[2rem] flex-wrap block;
    }

    .footer__section {
        @apply mt-[1rem] m-[2rem];
    }

    .footer__input {
        @apply w-[70vw] p-2;
    }

    .navbar__search__div {
        @apply hidden w-[5rem];
    }

    .navbar__menu__div {
        @apply ml-0;
    }

    #navbar__search {
        @apply w-[5rem];
    }

    .main__one {
        @apply mt-[1rem] block p-0;
    }

    .main__item__img {
        @apply mx-auto w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen h-[30vh] flex flex-col justify-center items-center hidden;
    }

    .navbar__menu__div {
        @apply w-full flex flex-row m-[15px] items-center justify-center;
    }

    .navbar__menu__title {
        @apply ml-[10px];
    }

    .navbar__lower {
        @apply block p-[2rem];
    }

    #hamburger {
        @apply flex w-[2rem] h-[2rem];
    }

    .navbar__upper__menubar {
        @apply w-full flex items-center justify-between;
    }

    #main__section {
        @apply p-[2rem];
    }

    #two {
        @apply place-items-center grid-cols-[repeat(auto-fit,minmax(13.75rem,1fr))];
    }

    .navbar__lower {
        @apply block p-[2rem] h-[5rem];
    }

    #footer {
        @apply relative h-auto;
    }

    .one__title {
        @apply text-[0.8rem];
    }

    .one__view {
        font-family: Inter;
        @apply text-[0.8rem];
    }

    .navbar__lower__one {
        @apply w-full flex justify-between;
    }

    .navbar__lower__two {
        @apply mt-[0.5rem] w-full flex justify-between;
    }

    .navbar__lower {
        @apply h-fit;
    }

    .navbar__lower__p {
        @apply text-[0.7rem];
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .one__view {
        font-family: Inter;
        @apply m-0;
    }

    .footer__section {
        @apply p-0;
    }
    .card__section__card{
        margin-bottom: 3px;

    }
    .card__section {
        @apply p-[2rem] block;
    }

    .image {
        @apply w-[85vw];
    }

    .heading {
        font-family: Inter;
        @apply text-[1rem];
    }

    .text {
        @apply text-[0.65rem] w-[60vw];
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    #hamburger {
        @apply flex;
        width: 2rem;
        height: 2rem;
    }
    .navbar__search__div{
        @apply flex w-full;
    }

    #navbar__search{
        @apply: flex-grow md:w-3/4 lg:w-1/2
    }
    .navbar__search__icon__div{
        flex:none;
    }

    .navbar__upper__menubar {
        @apply w-full flex justify-between;
    }

    .navbar__search__div {
        margin-top: 1rem;
    }

    #footer {
        @apply block h-auto;
    }

    .footer__upper {
        padding: 2rem;
        @apply flex-wrap;
    }

    .footer__section {
        margin-top: 1rem;
        margin: 1rem;
    }

    #navbar__upper {
        padding: 2rem;
        @apply m-0;
    }

    .navbar__search__div {
        @apply w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen;
        height: 40vh;
        @apply flex flex-col justify-center items-center hidden;
    }

    .navbar__lower {
        padding: 2rem;
        @apply h-fit block;
    }

    .navbar__lower__one {
        @apply flex justify-between;
    }

    .navbar__lower__two {
        @apply flex justify-between;
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .navbar__menu__div {
        margin: 15px 0;
    }

    .navbar__lower__p {
        font-size: 1rem;
    }

    .card__section {
        padding: 2rem;
        gap:5px;
        @apply flex flex-col justify-center items-center;
    }

    #main__section {
        padding: 1.25rem 3.5rem;
    }

    .image {
        @apply w-[85vw];
    }

    .heading {
        font-family: Inter;
        font-size: 1.3rem;
    }

    .text {
        font-size: 0.8rem;
        @apply w-[60vw];
    }

    #two {
        @apply place-items-center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer {
        @apply block h-auto;
    }
    .navbar__search__div{
        @apply flex w-full;
    }

    #navbar__search{
        @apply: flex-grow md:w-3/4 lg:w-1/2
    }
    .navbar__search__icon__div{
        flex:none;
    }

    .footer__upper {
        padding: 2rem;
        @apply grid grid-cols-3;
    }

    .footer__section {
        margin-top: 1rem;
        margin: 2rem;
    }

    .footer__input {
        @apply w-[50vw] py-[8px];
    }

    #hamburger {
        @apply flex;
        width: 2rem;
        height: 2rem;
    }

    .navbar__upper__menubar {
        @apply w-full flex justify-between;
    }

    .navbar__search__div {
        margin-top: 1rem;
    }

    .card__section {
        padding: 0.875rem 2rem;
        gap:5px;
        @apply grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))];
    }

    .image {
        @apply w-80;
    }

    #main__section {
        padding: 0.875rem 2rem;
    }

    #navbar__upper {
        padding: 2rem;
        @apply m-0;
    }

    .navbar__search__div {
        @apply w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen;
        height: 35vh;
        @apply flex flex-col justify-center items-center hidden;
    }

    .navbar__menu__div {
        margin: 10px 0;
    }

    .navbar__lower {
        padding: 2rem;
        @apply h-fit block;
    }

    .navbar__lower__one {
        @apply flex justify-between;
    }

    .navbar__lower__two {
        @apply flex justify-between;
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .navbar__lower__p {
        font-size: 1rem;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #navbar__upper {
        @apply py-3.5 px-8;
    }

    #navbar__menu {
        @apply flex items-center justify-between;
    }

    .card__section {
        gap:5px;
        @apply py-3.5 px-8 grid grid-cols-[repeat(auto-fit,minmax(25rem,1fr))];
    }

    .image {
        @apply w-[25rem];
    }

    #navbar__search {
        @apply w-[14rem];
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    #navbar__search {
        @apply w-[16rem];
    }

    .card__section {
        gap:5px;
        @apply grid grid-cols-[repeat(auto-fit,minmax(25rem,1fr))];
    }

    .image {
        @apply w-[30rem];
    }
}

@media only screen and (min-width: 1400px) {
    #navbar__search {
        @apply w-[35rem];
    }
}
