@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-19 {
      width: 4.75rem;
    }
    .w-88{
        width:22rem;
    }
    .w-100{
        width: 31rem;
    }
  }
  

* {
    @apply m-0 p-0 font-sans box-border;
}

.a {
    @apply flex items-center mr-4;
}

#navbar {
    @apply flex flex-col bg-[#0C304B];
}

#navbar__menu {
    @apply flex items-center;
}

.navbar__search__div {
    @apply flex items-center justify-center;
}

#navbar__search {
    @apply flex w-[46.9375rem] border-transparent p-3 items-start;
}

.navbar__search__icon__div {
    @apply inline-flex p-2.5 items-start gap-2 border-transparent bg-[#FFF];
}

#navbar__search__icon {
    @apply fill-[#FFF] inline-flex items-start gap-2;
}

.navbar__menu__div {
    @apply flex ml-12 items-center flex-col;
}

.navbar__menu__title {
    @apply text-[#FFF] text-center text-xs font-medium leading-4 w-19 h-8 mt-1;
}

.navbar__lower {
    @apply flex justify-between p-5 h-16 bg-[#082032];
}

.two__item {
    @apply flex flex-col w-[13.75rem] p-5 justify-center items-center border border-[#D4D4D8] bg-[#FFF];
}

.category {
    @apply w-32 h-32 flex-shrink-0;
}

.two__item__title {
    @apply text-[#27272A] text-center mt-4 font-sans text-sm font-normal leading-5;
}

#two {
    @apply grid grid-cols-[repeat(auto-fit,minmax(13.75rem,1fr))] gap-10 mt-6;
}

#main__section {
    @apply p-5;
}

#footer {
    @apply flex flex-wrap flex-col h-[22.5rem] flex-shrink-0 bg-[#F4F4F5];
}

.footer__upper {
    @apply flex mt-16 justify-around;
}

.footer__upper__title {
    @apply text-[#3F3F46] font-sans text-sm font-semibold leading-5;
}

.footer__list__item {
    @apply text-[#52525B] font-sans text-sm font-normal leading-5;
}

.footer__list {
    @apply mt-4;
}

.navbar__list__contact {
    @apply flex ml-8;
}

.footer__list__contact {
    @apply flex;
}

.footer__list__number {
    @apply text-[#52525B] font-sans text-sm font-semibold leading-5;
}

ul > li {
    @apply list-none;
}

.footer__socials {
    @apply flex mt-4 gap-4;
}

.footer__copyright {
    @apply relative top-2 text-[#71717A] text-center p-8 font-sans text-xs font-normal leading-4;
}

hr {
    @apply mx-auto w-[90%] h-0.5 bg-[#E4E4E7];
}

.footer__subscribe {
    @apply border-none inline-flex p-3 justify-center items-center bg-[#196195] text-[#FFF] mt-6 font-sans text-sm font-semibold leading-5;
}

#navbar__upper {
    @apply flex flex-wrap p-5 justify-between items-center;
}

.navbar__lower__p {
    @apply text-[#FFF] font-sans text-base font-normal leading-6 ml-2;
}

.navbar__lower__one {
    @apply flex;
}

.navbar__lower__two {
    @apply flex;
}

.footer__input {
    @apply flex w-[20.5625rem] h-[2.75rem] p-3.5 items-center flex-shrink-0 border border-[#7FC7FB] bg-[#FFF];
}

#one {
    @apply flex justify-between items-center;
}

.one__view__div {
    @apply flex items-center;
}

.one__title {
    @apply text-[#27272A] font-sans text-xl font-semibold leading-7;
}

.one__view {
    @apply text-[#196195] font-sans font-bold mr-2 leading-5;
}


.main__one {
    @apply flex justify-between py-3 px-24;
}

.main__item__img {
    @apply relative;
}

#hamburger {
    @apply hidden;
}

.main__item__heading {
    @apply relative top-[-8.25rem] ml-4 text-white text-2xl font-bold leading-7;
}

.main__item__p {
    @apply relative top-[-8.25rem] ml-4 text-white text-sm font-normal leading-5;
}

.main__item__arrow {
    @apply relative top-[-8.25rem] ml-4 text-white text-sm font-normal leading-5;
}

.main__item__view {
    @apply relative top-[-6rem] ml-4 text-white text-sm font-normal leading-5;
}

.card__section {
    @apply relative py-3 px-24 flex justify-between;
}

.image {
    @apply w-100 h-64;
}

.card__section__card {
    @apply relative;
}

.heading {
    @apply absolute top-32 text-white text-2xl font-bold leading-7 pl-4;
}

.text {
    @apply absolute top-40 text-white text-sm leading-5 w-3/5 pl-4;
}

.btn {
    @apply flex absolute bottom-4 pl-4 text-white text-xs font-semibold leading-4;
}


@media screen and (max-width: 600px) {
    #navbar__upper {
        @apply py-3 px-4;
    }

    #footer {
        @apply block h-56;
    }

    .footer__upper {
        @apply py-8 flex-wrap block;
    }

    .footer__section {
        @apply mt-4 mx-8;
    }

    .footer__input {
        @apply w-[70vw] py-2;
    }

    .navbar__search__div {
        @apply hidden w-20;
    }

    .navbar__menu__div {
        @apply ml-0 w-full flex-row mx-4 items-center justify-center;
    }

    #navbar__search {
        @apply w-20;
    }

    .main__one {
        @apply mt-4 block p-0;
    }

    .main__item__img {
        @apply mx-auto w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen h-[30vh] flex flex-col justify-center items-center hidden;
    }

    .navbar__menu__title {
        @apply ml-2;
    }

    .navbar__lower {
        @apply block py-8;
    }

    #hamburger {
        @apply flex w-8 h-8;
    }

    .navbar__upper__menubar {
        @apply w-full flex items-center justify-between;
    }

    #main__section {
        @apply py-8;
    }

    #two {
        @apply place-items-center grid-cols-[repeat(auto-fit,minmax(13.75rem,1fr))];
    }

    .navbar__lower {
        @apply block py-8 h-20;
    }

    #footer {
        @apply relative h-auto;
    }

    .one__title {
        @apply text-sm;
    }

    .one__view {
        @apply text-sm;
    }

    .navbar__lower__one {
        @apply w-full flex justify-between;
    }

    .navbar__lower__two {
        @apply mt-2 w-full flex justify-between;
    }

    .navbar__lower {
        @apply h-fit;
    }

    .navbar__lower__p {
        @apply text-xs;
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .one__view {
        @apply m-0;
    }

    .footer__section {
        @apply p-0;
    }

    .card__section {
        @apply py-8 block;
    }

    .image {
        @apply w-[85vw];
    }

    .heading {
        @apply text-base;
    }

    .text {
        @apply text-xs w-[60vw];
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #hamburger {
        @apply flex w-8 h-8;
    }

    .navbar__upper__menubar {
        @apply w-full flex justify-between;
    }

    .navbar__search__div {
        @apply mt-4;
    }

    #footer {
        @apply block h-auto;
    }

    .footer__upper {
        @apply py-8 flex-wrap;
    }

    .footer__section {
        @apply mt-4 mx-4;
    }

    #navbar__upper {
        @apply py-8 m-0;
    }

    .navbar__search__div {
        @apply w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen h-[40vh] flex flex-col justify-center items-center hidden;
    }

    .navbar__lower {
        @apply py-8 h-fit block;
    }

    .navbar__lower__one {
        @apply flex justify-between;
    }

    .navbar__lower__two {
        @apply flex justify-between;
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .navbar__menu__div {
        @apply my-4;
    }

    .navbar__lower__p {
        @apply text-base;
    }

    .card__section {
        @apply py-8 flex flex-col justify-center items-center;
    }

    #main__section {
        @apply py-5 px-14;
    }

    .image {
        @apply w-[85vw];
    }

    .heading {
        @apply text-xl;
    }

    .text {
        @apply text-sm w-[60vw];
    }

    #two {
        @apply place-items-center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer {
        @apply block h-auto;
    }

    .footer__upper {
        @apply py-8 grid grid-cols-3;
    }

    .footer__section {
        @apply mt-4 mx-8;
    }

    .footer__input {
        @apply w-[50vw] py-2;
    }

    #hamburger {
        @apply flex w-8 h-8;
    }

    .navbar__upper__menubar {
        @apply w-full flex justify-between;
    }

    .navbar__search__div {
        @apply mt-4;
    }

    .card__section {
        @apply grid py-3.5 px-8 grid-cols-[repeat(auto-fit,minmax(20rem,1fr))];
    }

    .image {
        @apply w-80;
    }

    #main__section {
        @apply py-3.5 px-8;
    }

    #navbar__upper {
        @apply py-8 m-0;
    }

    .navbar__search__div {
        @apply w-[90vw];
    }

    #navbar__menu {
        @apply relative w-screen h-[35vh] flex flex-col justify-center items-center hidden;
    }

    .navbar__menu__div {
        @apply my-2.5;
    }

    .navbar__lower {
        @apply py-8 h-fit block;
    }

    .navbar__lower__one {
        @apply flex justify-between;
    }

    .navbar__lower__two {
        @apply flex justify-between;
    }

    .navbar__list__contact {
        @apply m-0;
    }

    .navbar__lower__p {
        @apply text-base;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #navbar__upper {
        @apply py-3.5 px-8;
    }

    #navbar__menu {
        @apply flex items-center justify-between;
    }

    .card__section {
        @apply py-3.5 px-8 grid grid-cols-[repeat(auto-fit,minmax(25rem,1fr))];
    }

    .image {
        @apply w-64;
    }

    #navbar__search {
        @apply w-56;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    #navbar__search {
        @apply w-64;
    }

    .card__section {
        @apply grid grid-cols-[repeat(auto-fit,minmax(25rem,1fr))];
    }

    .image {
        @apply w-80;
    }
}

@media only screen and (min-width: 1400px) {
    #navbar__search {
        @apply w-88;
    }
}

